
.head{
  position: sticky;
  width: 100%;
  align-items: center;
  padding: 13px 0;
  background-color: #5841d8;
}

.head-container {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-left: 30px;
  color: white;
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header-menu {
  display: flex;
  align-items: center;
}

.header-menu-item{
  padding: 5px 10px;
  margin-right: 40px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-family: "Gill Sans", sans-serif;
  transition: 0.4s;
}

.header-menu-item:hover{
  background-color: white;
  color: #5841d8;
}


@media  screen and (max-width: 700px) {
  .logo{
    margin-left: 20px;
    font-size: 27px;
  }

  .header-menu-item{
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 13px;
  }
}


@media  screen and (max-width: 380px) {
  .logo{
    margin-left: 15px;
  }

  .header-menu-item{
    padding: 4px 8px;
    font-size: 11px;
  }
}

